.App {
  text-align: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: aliceblue;
}
.main input {
  height: 30px;
  width: 450px;
}
.main button {
  height: 30px;
  width: 100px;
  cursor: pointer;
}
.task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
